
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  overflow-x: hidden;
}
header {
  z-index: 3;
  position: fixed;
  height: 65px;
  line-height: 65px;
  background-color: #1e2126;
  border-top: 5px solid #f80046;
  width: 100%;
}

header a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.75em;
  margin-right: 20px;
}

.profilenav {
  margin-left: 12.5%;
}

header a:hover {
  opacity: 0.5;
}

.topnav {
  overflow: hidden;
  background-color: #1e2126;
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-left: 12.5%;
  }
}

.profile {
  position: absolute;
  top: 150px;
  left: 12.5%;
}

.profile h1 {
  color: rgb(69, 69, 69);
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
  padding: 0;
  margin: 0;
}

table {
  float: right;
  margin-left: 15px;
  text-align: left;
}

th {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(100, 100, 100);
  font-weight: 700;
}

td {
  padding: 5px 35px;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(100, 100, 100);
  font-weight: 400;
}

td span a {
  color: rgb(100, 100, 100);
}

.bio {
  position: absolute;
  top: 500px;
  left: 12.5%;
}

.bio h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(69, 69, 69);
  font-weight: 800;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
  width: calc(100% - 600px);
}

.bio p {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(100, 100, 100);
  width: calc(100% - 600px);
  text-align: justify;
}

.facts {
  position: absolute;
  top: 875px;
  left: 12.5%;
}

.facts h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(69, 69, 69);
  font-weight: 800;
  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
}

.facts li{
 margin-top: 20px;
}

.left {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(100, 100, 100);
  width: 350px;
  float: left;
  text-align: justify;
}

.right {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(100, 100, 100);
  width: 350px;
  float: right;
  margin-left: 35px;
  text-align: justify;
}

.facts li {
  padding-left: 1.3rem;
  padding-bottom: 1rem;
}

.facts li:before {
  content: "\f0da";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}
.facts ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


}
/* footer{
  width: 100%;
  padding: 7.5px 0;
  position: absolute;
  bottom: 0%;
  left:0;
  background-color: rgb(0, 0, 0);
 } 
 
footer p{
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  text-align: right;
  margin-right: 25px
} */

/* NEWS */

.news{
  position: absolute;
  top: 250px;
  left: 12.5%;
}

.play {
  position: absolute;
  left: 12.5%;
}
.news i{
  border: 2.5px solid white;
  border-radius: 25%;
  padding: 10px;
  left: 165px;
  top: 350px;
  display: block;
  position: relative;
  z-index: 2;
  font-size: 25px;
  color: white;
  transition: .5s;
}

.news i:hover{
  color: rgba(235, 7, 7, 1);
  background: rgba(0, 0, 0, 0.5);
  transition: .5s;
}

.news h2{
  position: relative;
  top: 10px;
  left: 12.5%;
  margin: 0px 0px 0px 375px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #444;
  width: 400px;
}

.news p{
  position: relative;
  top: 20px;
  left: 12.5%;
  margin: 0px 0px 0px 375px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #444;
  width: 400px;
}

.news img{
  position: relative;
  top: 250px;
  left: 12.5%;
}

.newstitle{
  padding: 0;
  margin: 0;
}

.lastnews{
  margin-bottom: 100px;
}

.eventheader{
  position: absolute;
  background-color: #570022;
  border-top: 1px white solid;
  top: 65px;
  width: 100%;
  height: 75px;
}


.events{
  position: absolute;
  left: 12.5%;
  text-decoration: none;
}

.events h1{
  margin: 0;
  padding: 10px 0px 10px 0px;
font-size: 3rem;
color: white;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
text-transform: uppercase;
}

#upcomingevents{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 25px;
}

.upcomingevents p, h2{
  margin: 0;
  padding: 1px;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.upcomingevents h2{
  color: #066792;
}

.borderline{
 border-bottom: 1px rgb(145, 145, 145) dotted;
 margin-bottom: 20px;
}

.previousnext{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  position: relative;
  top: 225px;
  left: 12.5%;  
  padding: 10px;
  text-decoration: none;
  background-color: #1e2126;
  border: 2px solid #f80046;
  color: white;
  transition: .3s ease-out;
}

.previousnext2{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  position: relative;
  padding: 10px;
  text-decoration: none;
  background-color: #1e2126;
  border: 2px solid #f80046;
  color: white;
  transition: .3s ease-out;
}
.previousnext:hover, .previousnext2:hover{
  background-color: #f80046;
  border: 2px solid #f80046;
  color: white;
  transition: .3s ease-in;
}

.previousnext:active{
  background-color: #6E001F;
  border: 2px solid #6E001F;
  color: white;
  transition: 0s;
}
.space{
  pointer-events: none;
  position: relative;
  top: 225px;
  left: 12.5%;  
  padding: 20px;
  text-decoration: none;
  transition: .3s ease-out;
}


.currentpage{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #1e2126;
  position: absolute;
  top: 180px;
  left: 12.5%;
}

.numberofpage{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #1e2126;
  position: absolute;
  top: 200px;
  left: 12.5%;
}


.currentpage2{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #1e2126;
  position: relative;

}

.numberofpage2{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #1e2126;
  position: relative;

}